<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.asp" />
                <add value="default.asp" />
                <add value="default.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <!-- Desabilitar listagem de diretório -->
        <directoryBrowse enabled="false" />
        
        <!-- Configurações ASP Classic -->
        <asp
            scriptLanguage="VBScript"
            enableParentPaths="true"
            bufferingOn="true"
            codepage="65001">
        </asp>
    </system.webServer>
</configuration>
